
@{
    Layout = null;
}
    
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            height: 100%;
            width: 260px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 16px;
        }

            .sidebar a {
                padding: 6px 8px 6px 16px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
            }

                .sidebar a:hover {
                    color: #0094ff;
                }

        .main {
            margin-left: 260px; /* Same as the width of the sidenav */
            padding: 0px 10px;
        }

        @@media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

                .sidebar a {
                    font-size: 18px;
                }
        }
    </style>
</head>
<body>

    <div class="sidebar">
        <a href="#"><i class="fa fa-fw fa-home"></i>&nbsp; Ana Sayfa</a>
        <a href="/Kategori/Index"><i class="fa fa-fw fa-list"></i>&nbsp; Kategoriler</a>
        <a href="#"><i class="fa fa-fw fa-book"></i>&nbsp; Kitaplar</a>
        <a href="/Yazar/Index"><i class="fa fa-fw fa-pencil"></i>&nbsp; Yazarlar</a>
        <a href="#"><i class="fa fa-fw fa-user"></i>&nbsp; Üyeler</a>
        <a href="#"><i class="fa fa-fw fa-home"></i>&nbsp; Personeller</a>
        <a href="#"><i class="fa fa-fw fa-caret-left"></i>&nbsp; Ödünç Kitap Ver</a>
        <a href="#"><i class="fa fa-fw fa-caret-right"></i>&nbsp; Ödünç Kitap Al</a>
        <a href="#"><i class="fa fa-fw fa-usd"></i>&nbsp; Kasa</a>
        <a href="#"><i class="fa fa-fw fa-dashboard"></i>&nbsp; İşlemler</a>
        <a href="#"><i class="fa fa-fw fa-wrench"></i>&nbsp; Ayarlar</a>
        <a href="#"><i class="fa fa-fw fa-info-circle"></i>&nbsp; Yardım</a>
        <a href="#"><i class="fa fa-fw fa-arrow-left"></i>&nbsp; Çıkış</a>
        
    </div>

    <div class="main">
       @RenderBody()
    </div>

</body>
</html>

