@using LibraryControl.Models.Entity
@model List<TBLKATEGORI>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>KATEGORI ID </th>
                    <th>KATEGORI AD</th>
                    <th>SİL</th>
                    <th>GÜNCELLE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categories in Model)
                {
                <tr>
                    <td>@categories.Id</td>
                    <td>@categories.Ad</td>
                    <td><a href="/Kategori/DeleteCategory/@categories.Id" class="btn btn-danger"> Sil </a></td>
                    <td><a href="/Kategori/GetCategory/@categories.Id" class="btn btn-success">Güncelle</a></td>
                 </tr>
                }

            </tbody>
        </table>
        <a href="/Kategori/AddCategory" class="btn btn-primary"> Yeni Kategori Ekle</a>
        
    </div>