@model LibraryControl.Models.Entity.TBLPERSONEL
@{
    ViewBag.Title = "GetPersonal";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UpdatePersonal", "Personal", FormMethod.Post))
{
    <div style="margin-top:25px" class="form-group">
        @*@Html.LabelFor(k => k.Id)*@
        Personal ID
        @Html.TextBoxFor(k => k.Id, new { @class = "form-control" })

        <br />
        @*@Html.LabelFor(k => k.Ad)*@
        Personel Adı ve Soyadı
        @Html.TextBoxFor(k => k.AdSoyad, new { @class = "form-control" })
       
       
        <div>
            <button style="margin-top:10px" class="btn btn-warning">Güncelle</button>
        </div>
    </div>
}
